@import "_variables.scss";
.fullscreen{
	background:url(../../img/fondothisisme.jpg) no-repeat center center fixed;
	width: 100%;
	height: 480px;
	padding-bottom: 100%;
	background-size: cover;
	position: fixed;
	z-index: 1;
}
@media screen and (min-width: 768px){
	.fullscreen{
		background:url(../../img/tablethd.jpg)no-repeat center center fixed;
		width: 100%;
		min-height: 100%;
		height: auto;
		top: 0;
		left: 0;
		
		background-size: cover;
		position: fixed;
		z-index: 1;
	}}

@media screen and (min-width: 1024px){
	.fullscreen{
		background:url(../../img/fondofullhd.jpg)no-repeat center center fixed;
		width: 100%;
		min-height: 100%;
		height: auto;
		top: 0;
		left: 0;
		background-size: cover;
		position: fixed;
		z-index: 1;
	}}

	.fullscreenam{
	background:url(../../img/aboutmehdm.jpg) no-repeat center center;
	width: 100%;
	height: 480px;
	background-size: cover;
	position:absolute;
	z-index: 1;
	background-attachment: scroll;
	
}
@media screen and (min-width: 768px){
	.fullscreenam{
		background:url(../../img/aboutmehdt.jpg)no-repeat center center;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-size: cover;
		position:absolute;
		z-index: 1;
		background-attachment: scroll;
	}}

@media screen and (min-width: 1024px){
	.fullscreenam{
		background:url(../../img/aboutmehd.jpg)no-repeat center center fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-size: cover;
		position:absolute;
		z-index: 1;
		background-attachment: scroll;
	}}

.fullscreen_work{
	background-color:$marine;
	height: 480px;
	padding-bottom: 100%;
	position:absolute;
	z-index: 1;
	
}
@media screen and (min-width: 768px){
	.fullscreen_work{
		background-color:$marine;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		position:absolute;
		z-index: 1;
		
	}}

@media screen and (min-width: 1024px){
	.fullscreen_work{
		background-color:$marine;
		height: 100vh;
		
		top: 0;
		left: 0;
		position:absolute;
		z-index: 1;
		
	}}










