@import "_variables.scss";
body {
height: 100%;
font-size: 100%;
background-color: $marine;
}
header, article {
	position: relative; 
	width:100%;
	height:100%;
	
}
.index {
	background: url(../../img/fondothisisme.jpg) center center no-repeat; 
	background-size: cover; 
	height: 100vh; 
	color: #fff;
}
 .about {
	background: url(../../img/aboutmehdm.jpg) center center no-repeat; 
	background-size: cover; 
	height: 100vh; 
	color: #fff;
}
.services {
	background: url(../../img/serviceshd.jpg) center center no-repeat; 
	background-size: cover; 
	height: 100vh; 
	color: #fff;

}
.workone {
	background: url(../../img/work1dehd.jpg) center center no-repeat; 
	background-size: cover; 
	height: 100vh; 
	color: #fff;

}
.contact {
	background: url(../../img/contact.jpg) center center no-repeat; 
	background-size: cover; 
	height: 100vh; 
	color: #fff;
}

@media (min-width: 768px) {
	.index{
		background: url(../../img/tablethd.jpg) center center no-repeat; 
		background-size: cover; 


	}
.about {
		background: url(../../img/aboutmehdt.png) center center no-repeat; 
		background-size: cover; 
	

	

	
	}}

@media (min-width: 1024px) {

	.index{
		background: url(../../img/fondofullhd.jpg) center center no-repeat; 
		background-size: cover; 

	overflow: hidden;
}
.about {
		background: url(../../img/aboutmehd.jpg) center center no-repeat; 
		background-size: cover; 
	
	overflow: hidden;

}}




