@import "_variables.scss";
.web-logo {
	width: 69px; 
	float: left;
}
.logo {
	padding-left: 26px;
    padding-top: 15px;
    width: 46px;
   }
.menu-100-height {
	/*background-color: $marine;*/
	position: absolute; 
	top: 0; 
	right: 0; 
	height: 100vh; 
	z-index: 10; 
	width: 60%;
	
}
.btn_menu {
	text-align: right; 
	padding-top: 50px;
	padding-right: 30px;
}

nav ul {
	padding-left: 0; 
	list-style: none;
	font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    display: none;

}

nav li {
	padding: 5px 2em; 
	text-align: right;
}
      
nav a {
	text-decoration: none; 
	color: #fff;
}



@media (min-width: 768px) {
.btn_menu {
		display: none;
		
	}
	nav li {
	display: inline-block;
	padding: 15px;
}
nav ul {
    padding-left: -12px;
    font-size: 0.9rem;
    display: block;
    }

	.menu-100-height {
		background-color:transparent;
		position: none;
		width: 45%;
		margin-top: 35px;
	}

	.logo {
	padding-left: 50px;
    padding-top: 30px;
    width: 46px;
}

}


@media screen and (min-width: 1024px){
	.btn_menu {
		display: none;
		
	}
	nav li {
	display: inline-block;
	padding: 15px;
}
nav ul {
    padding-left: 124px;
    font-size: 0.9rem;
    display: block;
    }

	.menu-100-height {
		background-color:transparent;
		position: none;
		width: 38%;
		margin-top: 35px;
	}

	.logo {
	padding-left: 50px;
    padding-top: 30px;
    width: 46px;
}

	
}


	
