h1{
	font-family: 'PT Serif', serif;
	font-weight: 700;
	font-size: 5rem;
	color: #3DC4CB;
	margin:0;
}

p{
	font-family: 'Ubuntu', serif;
	font-size: 0.9rem;
	line-height: 23px;
	font-weight:400px;
}
