.contactinfo {
  float: left;
  padding-top: 2px;
  padding-left: 35px; }

label {
  transform: translateY(6px);
  color: #fff;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  margin: 30px auto;
  font-family: 'Ubuntu', serif;
  font-size: 16px; }
  label .req {
    margin: 2px;
    color: #fff; }

label.highlight {
  color: #fff; }

input, textarea {
  font-size: 18px;
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #3DC4CB;
  color: #3DC4CB;
  transition: border-color .25s ease, box-shadow .25s ease; }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #3DC4CB; }

textarea {
  border: 1px solid #3DC4CB;
  resize: vertical; }

.field-wrap {
  margin-bottom: 40px;
  padding-left: 17px; }

.top-row:after {
  content: "";
  display: table;
  clear: both; }

.top-row > div {
  float: left;
  margin-right: 4%; }
  .top-row > div:last-child {
    margin: 0; }

button {
  cursor: pointer;
  background: #3DC4CB;
  width: 150px;
  border: 0;
  padding: 10px 0px;
  color: #1C2731;
  margin-left: 106px;
  margin-top: 20px; }
  button:hover {
    background: #2E7276; }

@media screen and (min-width: 768px) {
  .contactinfo {
    float: left;
    padding-top: 154px;
    padding-left: 35px; }
  .field-wrap {
    margin-bottom: 40px;
    padding-left: 100px; }
  button {
    margin-left: 191px; } }

@media screen and (min-width: 1024px) {
  .contactinfo {
    float: left;
    padding-top: 100px;
    padding-left: 35px; }
  .field-wrap {
    margin-bottom: 40px;
    padding-left: 80px; }
  button {
    margin-left: 166px; } }

body {
  height: 100%;
  font-size: 100%;
  background-color: #1C2731; }

header, article {
  position: relative;
  width: 100%;
  height: 100%; }

.index {
  background: url(../../img/fondothisisme.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff; }

.about {
  background: url(../../img/aboutmehdm.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff; }

.services {
  background: url(../../img/servicesmv.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff; }

.workone {
  background: url(../../img/work1dehd.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff; }

.contact {
  background: url(../../img/contact.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff; }

@media (min-width: 768px) {
  .index {
    background: url(../../img/tablethd.jpg) center center no-repeat;
    background-size: cover; }
  .about {
    background: url(../../img/aboutmehdt.png) center center no-repeat;
    background-size: cover; }
  .services {
    background: url(../../img/servicestb.jgp) center center no-repeat;
    background-size: cover; } }

@media (min-width: 1024px) {
  .index {
    background: url(../../img/fondofullhd.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden; }
  .about {
    background: url(../../img/aboutmehd.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden; }
  .services {
    background: url(../../img/serviceshd.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden; } }

.infotext {
  width: 210px;
  height: 100%;
  padding-top: 166px;
  padding-left: 1px;
  position: absolute; }

p {
  padding-left: 54px;
  width: 210px;
  color: #fff; }

@media screen and (min-width: 768px) {
  .infotext {
    width: 657px;
    height: 100%;
    padding-top: 370px; } }

@media screen and (min-width: 1024px) {
  .infotext {
    width: 100%;
    height: 100%;
    padding-top: 350px;
    padding-left: 100px; }
  p {
    padding-left: 44px;
    width: 402px;
    color: #fff; } }

.web-logo {
  width: 69px;
  float: left; }

.logo {
  padding-left: 26px;
  padding-top: 15px;
  width: 46px; }

.menu-100-height {
  /*background-color: $marine;*/
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  width: 60%; }

.btn_menu {
  text-align: right;
  padding-top: 50px;
  padding-right: 30px; }

nav ul {
  padding-left: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: none; }

nav li {
  padding: 5px 2em;
  text-align: right; }

nav a {
  text-decoration: none;
  color: #fff; }

@media (min-width: 768px) {
  .btn_menu {
    display: none; }
  nav li {
    display: inline-block;
    padding: 15px; }
  nav ul {
    padding-left: -12px;
    font-size: 0.9rem;
    display: block; }
  .menu-100-height {
    background-color: transparent;
    position: none;
    width: 45%;
    margin-top: 35px; }
  .logo {
    padding-left: 50px;
    padding-top: 30px;
    width: 46px; } }

@media screen and (min-width: 1024px) {
  .btn_menu {
    display: none; }
  nav li {
    display: inline-block;
    padding: 15px; }
  nav ul {
    padding-left: 124px;
    font-size: 0.9rem;
    display: block; }
  .menu-100-height {
    background-color: transparent;
    position: none;
    width: 38%;
    margin-top: 35px; }
  .logo {
    padding-left: 50px;
    padding-top: 30px;
    width: 46px; } }

h1 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 2.3rem;
  color: #3DC4CB;
  margin: 0;
  padding-left: 14px;
  padding-top: 30px; }

h2 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #3DC4CB;
  margin: 0; }

h3 {
  font-family: 'Ubuntu', serif;
  font-size: 1.5rem;
  color: #fff; }

h4 {
  font-family: 'Ubuntu', serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400; }

.workh4 {
  font-family: 'Ubuntu', serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400; }

h5 {
  font-family: 'PT Serif', serif;
  font-size: 0.8rem;
  color: #3DC4CB;
  font-weight: 400;
  text-align: center; }

p {
  font-family: 'Ubuntu', serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 300;
  padding-left: 16px;
  text-shadow: 3px 3px 8px #000; }

@media screen and (min-width: 768px) {
  h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 4rem;
    color: #3DC4CB;
    margin: 0;
    padding-left: 50px; }
  p {
    font-family: 'Ubuntu', serif;
    font-size: 0.9rem;
    line-height: 26px;
    font-weight: 400px;
    padding-left: 98px;
    text-shadow: none;
    width: 63%; } }

@media screen and (min-width: 1024px) {
  h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 5rem;
    color: #3DC4CB;
    margin: 0; }
  p {
    font-family: 'Ubuntu', serif;
    font-size: 0.9rem;
    line-height: 23px;
    font-weight: 400px;
    padding-left: 80px;
    text-shadow: none; } }

.worktittle {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 127px;
  color: #3DC4CB; }

.contentimage {
  background: url(../../img/cardwork1.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh; }

.colorone {
  padding: 0.1em 1% 0;
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 2px; }

.colornumber {
  background-color: #1C2731;
  height: 106px;
  width: 86%;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  float: none;
  position: absolute;
  color: white; }

.colorpreview {
  float: left;
  width: 150px;
  margin-right: 1px;
  list-style-type: none;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin: 0.5em;
  height: 13em;
  position: relative;
  top: 0%;
  left: 20%;
  right: 0%; }

.colordetails {
  padding: 1px;
  margin-bottom: 0.9em;
  margin-left: -3.6em;
  position: absolute;
  bottom: 7px;
  width: 233px;
  color: black;
  text-align: center; }

.colourp {
  color: black;
  text-shadow: none; }

.nameproject {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 1rem;
  color: #3DC4CB;
  position: absolute;
  text-shadow: 3px 3px 8px #000;
  bottom: 98px;
  left: 35%;
  margin: 0 auto; }

.contentone {
  width: 100%;
  height: 193px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  position: static; }

.contenttwo {
  width: 100%;
  height: 193px;
  background: url(../../img/contact.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  position: static; }

.contentthree {
  width: 100%;
  height: 862px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  position: static; }

.logoconcept {
  position: absolute;
  top: 60%;
  left: 11%;
  width: 77%; }

.list {
  padding-left: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: inline-block;
  color: #fff;
  margin: 18px;
  padding-top: 43px; }

.logowork {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -251px;
  margin-left: -92px;
  width: 53%; }

.card {
  width: 220px;
  height: 72px;
  border: 1px solid #3DC4CB;
  top: 0;
  left: 50%;
  margin: 30px auto;
  padding-top: 20px; }

div.card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* No underlines on the link */
  z-index: 9;
  /* Places the link above everything else in the div */
  background-color: #FFF;
  /* Fix to make div clickable in IE */
  opacity: 0;
  /* Fix to make div clickable in IE */
  filter: alpha(opacity=1);
  /* Fix to make div clickable in IE */ }

.one {
  background: url(../../img/work1hd.jpg) center center no-repeat;
  background-size: cover; }

.two {
  background: url(../../img/work2hd.jpg) center center no-repeat;
  background-size: cover; }

.three {
  background: url(../../img/work3hd.jpg) center center no-repeat;
  background-size: cover; }

@media (min-width: 768px) {
  .contentthree {
    width: 100%;
    height: 262px;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    position: static; }
  .colorone {
    padding: 0.1em 1% 0;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 2px; }
  .colornumber {
    background-color: #1C2731;
    height: 120px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    float: none;
    position: absolute;
    color: white; }
  .colorpreview {
    float: left;
    width: 150px;
    margin-right: 1px;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin: 0.5em;
    height: 13em;
    position: relative;
    overflow: hidden;
    top: 0%;
    left: 20%;
    right: 0%; }
  .colordetails {
    padding: 1px;
    margin-bottom: -1.1em;
    margin-left: -5.1em;
    position: absolute;
    bottom: 0;
    width: 233px;
    color: black;
    text-align: center; }
  .card {
    width: 595px;
    height: 156px;
    margin: 30px auto;
    padding-top: 20px; }
  .nameproject {
    left: 42%; }
  .logoconcept {
    position: absolute;
    top: 64%;
    left: 34%;
    width: 30%; }
  .list {
    margin: -8px;
    padding-top: 70px;
    padding-left: 105px; }
  .logowork {
    top: 55%;
    left: 53%;
    width: 17%; } }

@media (min-width: 1024px) {
  .contentthree {
    width: 100%;
    height: 262px;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    position: static; }
  .colorone {
    padding: 0.1em 1% 0;
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 2px; }
  .colornumber {
    background-color: #1C2731;
    height: 120px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    float: none;
    position: absolute;
    color: white; }
  .colorpreview {
    float: left;
    width: 150px;
    margin-right: 1px;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin: 0.5em;
    height: 13em;
    position: relative;
    overflow: hidden;
    top: 0%;
    left: 20%;
    right: 0%; }
  .colordetails {
    padding: 1px;
    margin-bottom: -1.1em;
    margin-left: -5.1em;
    position: absolute;
    bottom: 0;
    width: 233px;
    color: black;
    text-align: center; }
  .contentone {
    width: 100%;
    height: 327px;
    padding-top: 5px;
    padding-bottom: 5px; }
  .logoconcept {
    position: absolute;
    top: 64%;
    left: 34%;
    width: 30%; }
  .list {
    margin: 18px;
    padding-top: 86px;
    padding-left: 148px; }
  .logowork {
    top: 52%;
    left: 51%;
    width: 13%; }
  .one:hover {
    background-color: #1C2731;
    opacity: 0.5; }
  .two:hover {
    background-color: #1C2731;
    opacity: 0.5; }
  .three:hover {
    background-color: #1C2731;
    opacity: 0.5; }
  .card {
    width: 857px;
    height: 215px;
    margin: 30px auto;
    padding-top: 20px; }
  .nameproject {
    left: 45%; } }

.icon-scroll {
  position: absolute;
  bottom: -3px;
  left: 50%; }

.icon-scroll img {
  margin-left: -14px; }

.content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #1C2731;
  padding-top: 40px; }

.titleabout {
  color: #fff;
  text-align: center; }

hr {
  width: 50%;
  align: center;
  border: 1px solid #3DC4CB; }

.avatar {
  position: absolute;
  left: 50%;
  margin-left: -64px;
  padding-top: 20px;
  padding-bottom: 20px; }

.wrapper {
  text-align: center; }

@media screen and (min-width: 1024px) {
  .content {
    width: 100%;
    height: 100%;
    top: 308px;
    margin: 0 auto;
    background-color: #1C2731; }
  hr {
    width: 13%;
    align: center;
    border: 1px solid #3DC4CB; } }
